<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>About Milan Kundera</h1>
    <p>
      Milan Kundera (UK: /ˈkʊndərə, ˈkʌn-/, Czech: [ˈmɪlan ˈkundɛra]
      (About this soundlisten); born 1 April 1929) is a Czech writer who went
      into exile in France in 1975, becoming a naturalised French citizen in
      1981. Kundera's Czechoslovak citizenship was revoked in 1979. He was given
      a Czech citizenship in 2019. He "sees himself as a French writer and
      insists his work should be studied as French literature and classified as
      such in book stores".Kundera's best-known work is The Unbearable
      Lightness of Being. Prior to the Velvet Revolution of 1989 the communist
      régime in Czechoslovakia banned his books. He lives virtually incognito
      and rarely speaks to the media.He was thought to be a contender for
      the Nobel Prize in Literature, and was also a nominee for other
      awards.
    </p>
  </body>
</html>
