<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section class="intro">
      <h1>His best work</h1>
      <p>Below you'll find a list of some of his best work.</p>
    </section>

    <section class="book-list">
      <ul>
        <li>
          src <img src="" alt="" />
          <h2>The unbearable lightness of being</h2>
          <p>This is a teaser sentense.</p>
          <a href="">More</a>
        </li>

        <li>
          src <img src="" alt="" />
          <h2>Eine Begegnung</h2>
          <p>This is a teaser sentense.</p>
          <a href="">More</a>
        </li>

        <li>
          src <img src="" alt="" />
          <h2>Das Leben ist anderswo</h2>
          <p>This is a teaser sentense.</p>
          <a href="">More</a>
        </li>
      </ul>
    </section>
  </body>
</html>
